__pycache__/*
.ipynb_checkpoints/*
.Trash*
build/*
cifar10/
inp.jpg
training_paths.txt
ordered_paths_balanced.txt
ordered_dct_*.npz
_*.ipynb
res*.json
cifar10_*.npz
hist_*
cifar10_hashsets.json
paper_figs/
src/*.pyd
src/naphash_py.egg-info
src/*.dll